# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#toppers directory/files
build
cfg
doc
extension
include
kernel
syssvc
utils
arch/armv6_m_gcc
arch/gcc
target/lpcxpresso_lpc812_gcc
sample/
.cproject
.project
configure
MANIFEST
